#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 50%;
    height: 50vh;
    border: 0.2vh solid white;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(1vh);
    backdrop-filter: blur(1vh);
}
.sendButton{
    margin: 3vh;
    width: 20vh;
    height: 5vh;
    background: #ffeba7;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;
}

.sendButton:hover {
    color: #ffeba7;
    background-color: black;
    box-shadow: 0 0 25px #ffeba7;
    transition: box-shadow 0.3s ease-in-out;
}

.textinputs {
    width: 25vh;
    margin: 0 2vh 0 2vh;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffeba7;
    padding: 10px 10px 10px 10px;
}

.textinputs:hover {
    border-color: #ffeba7;
}

label {
    color: white;
}

#heading {
    text-align: center;
    padding: 1vh;
    border: 2px solid white;
    border-radius: 12px;
    margin: 5vh 20vh 2.5vh 20vh;
    color: red;
    font-size: 5vh;
    text-shadow: 0 0 0.2vh #38170e;
    -webkit-backdrop-filter: blur(1vh);
    backdrop-filter: blur(1vh);
}

#outputUsers{
    display: flex;
    justify-content: center;
    margin: 5vh;
    font-size: 3vh;
    color: white;
}