#progressBar {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #ddd;
    position: relative;
    height: 20px;
}

#winBar {
    position: absolute; 
    height: 20px; 
    background-color: green; 
    transition: width 0.5s, left 0.5s;
}

#loseBar {
    position: absolute; 
    height: 20px; 
    background-color: red; 
    transition: width 0.5s, left 0.5s;
}

#diceMarker {
    position: absolute; 
    width: 30px; 
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
    background-color: white; 
    border: 1px solid black; 
    border-radius: 15%; 
    transition: left 0.5s, transform 0.5s;
}