#progressBar {
    display: flex;
    align-items: center;
    width: 100vh;
    background-color: #ddd;
    position: relative;
    height: 20px;
}

#winBar {
    position: absolute; 
    height: 20px; 
    background-color: green; 
    transition: width 0.5s, left 0.5s;
}

#loseBar {
    position: absolute; 
    height: 20px; 
    background-color: red; 
    transition: width 0.5s, left 0.5s;
}

#diceMarker {
    position: absolute; 
    width: 30px; 
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
    background-color: #ffeba7;
    color: #38170e;
    border: 1px solid #38170e; 
    border-radius: 15%; 
    transition: left 0.5s, transform 0.5s;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

#bar {
    display: flex;
    justify-content: center;
}

#inputs {
    margin-top: 5vh;
    display: flex;
    gap: 3vh;
}

.diceButton{
    width: auto;
    height: 45px;
    background: #ffeba7;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;
}

.diceButton:hover {
    color: #ffeba7;
    background-color: black;
    box-shadow: 0 0 25px #ffeba7;
    transition: box-shadow 0.3s ease-in-out;
}

#bet {
    width: 10vh;
}

#rangeInput {
    width: auto;
}

input {
    background: transparent;
    border: none;
    outline: none;
    border: 0.2vh solid rgba(255, 255, 255, .2);
    border-radius: 4vh;
    font-size: 1.6vh;
    color: #ffeba7;
    padding: 1vh;
    background-color: #38170e;
}

input:hover {
    border-color: #ffeba7;
}

.gameMessageNormal {
    width: 40%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: #ffeba7;
    background-color: #755a00;
    border: 2px solid #ffeba7;
    border-radius: 20px;
    font-size: 2vh;
}

.gameMessageSuccess {
    width: 40%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: #00f510;
    background-color: #007508;
    border: 2px solid #00f510;
    border-radius: 20px;
    font-size: 2vh;
}

.gameMessageFail {
    width: 40%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: #cc0000;
    background-color: #4d0000;
    border: 2px solid #cc0000;
    border-radius: 20px;
    font-size: 2vh;
}