.slideshow-container {
  margin: 2vh;
  width: auto;
  height: auto;
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides img {
  vertical-align: top;
  width: 100%;
  max-height: 100%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.games-show {
  padding: 1vh 0 2vh 0;
  width: 100%;
  background-image: url('../assets/homepage-coins.jpg');
  background-size: cover;
}

.showText {
  font-size: 5vh;
}

.gamecard {
  flex-shrink: 0;
  margin: 5vh;
  width: 30vh;
  height: 40vh;
  border-radius: 2vh;
  border: 2px solid #38170e; 
  background-color: gray;
  transition: box-shadow 0.3s ease-in-out;
}

.gamecard:hover {
  box-shadow: 0 0 15px #38170e;
}

.gamecards {
  margin: 0 2vh 0 2vh;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  overflow-x: auto;
}

#minesCard {
  background-image: url('../assets/minesGame.png');
  background-size: cover;
}

#diceCard {
  background-image: url('../assets/DiceGame.png');
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffeba7;
}

::-webkit-scrollbar-thumb {
  background: #38170e;
}

#seperator {
  width: 2vh;
}