input {
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffeba7;
    padding: 10px 10px 10px 10px;
    background-color: #38170e;
}

input:hover {
    border-color: #ffeba7;
}

#game {
    margin-top: 7vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#leftplaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

#rightplaceholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

#keepOnGambling {
    opacity: 0;
    margin-bottom: 5vh;
    transition: 2s opacity ease-in-out;
}

#field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 33.33%;
}

#CurrentPayout {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5vh;
    width: 75%;
}

#CurrentPayout h1 {
    color: #ffeba7;
    font-size: 3vh;
    margin: 0;
}

#CurrentPayout p {
    display: flex;
    align-items: center;
    color: #ffeba7;
    font-size: 3vh;
}

.cell {
    margin: 0.1%;
    width: 19%;
    height: 19%;
}

#inputs {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#moneyamount {
    box-sizing: border-box;
    background-color: #38170e;
    border: 2px solid #38170e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#moneyInput {
    padding: 10px;
    width: 15%;
}

#minecount {
    background-color: #38170e;
    border: 2px solid #38170e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#minecountInput {
    padding: 10px;
    width: 15%;
}

#inputtext {
    color: white;
    font-size: 16px;
}

.minesButton{
    width: auto;
    height: 45px;
    background: #ffeba7;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;
}

.minesButton:hover {
    color: #ffeba7;
    background-color: black;
    box-shadow: 0 0 25px #ffeba7;
    transition: box-shadow 0.3s ease-in-out;
}

#minMaxBet {
    display: flex;
    margin-top: 1%;
    margin-right: 24%;
    gap: 1vh;
}

#impressum { 
    background-color: #38170e;
    color: #ffeba7;
  }

.gameMessageNormal {
    width: 40%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: #ffeba7;
    background-color: #755a00;
    border: 2px solid #ffeba7;
    border-radius: 20px;
    font-size: 2vh;
}

.gameMessageSuccess {
    width: 40%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: #00f510;
    background-color: #007508;
    border: 2px solid #00f510;
    border-radius: 20px;
    font-size: 2vh;
}

.gameMessageFail {
    width: 40%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    color: #cc0000;
    background-color: #4d0000;
    border: 2px solid #cc0000;
    border-radius: 20px;
    font-size: 2vh;
}

.overlay-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-image: url('../assets/keepOnGambling.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s;
}

@keyframes pulseStart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.pulseStart {
    animation: pulseStart 0.5s;
}

@keyframes pulseMid {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.pulseMid {
    animation: pulseMid 1s;
}
